<widget id="A6908304013015"  version="0.0.1">
    <name>CameraDemo</name>
    <description>A sample of APICloud module extension.</description>
    <author email="hxuejie@126.com" href="http://blog.csdn.net/hxuejie">
        developer
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="bounces" value="true" />
</widget>
